.selected-item {
    -fx-background-color: #00F;
}

.selected-item .label {
    -fx-text-fill: #FFF;
}

.bordered-item {
    -fx-border-width: 1px;
    -fx-border-color: rgb(204, 190, 255);
}

.playlist-item-playing {
    -fx-background-color: #5AA;
}

.playlist-item-playing .label {
    -fx-text-fill: #FFF;
}

.playlist-item-played {
    -fx-opacity: 0.5;
}